*{
    box-sizing: border-box;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
header{
    background-image: url(./assets/williamsoditi.jpg);
    background-repeat: repeat;
    background-position: 10vw;
    background-attachment: scroll;
    height: 47vw;
    opacity: 0.9;

}
#section-1{
    background-color: grey;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
.logo p{
    font-size: 20px;
    line-height: inherit;
}
span{
    color: blue;
}
.nav-links a{
    text-decoration: none;
    padding: 2vw;
    color: black;
}
#navbar a:hover{
    color: red;
    cursor: progress;
}
.media abbr{
    padding: 20px;
    color: black;
}
.media abbr:hover{
    color: blue;
}
.landpage{
    color: white;
    padding-top: 13vw;
}
.landpage h1{
    text-align: center;
    font-size: 4rem;
    padding: 20px;
}
.landpage p{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: blue;
    font-weight: bolder;
}

.boutme{
    text-align: center;
}
.me{
    text-align: justify;
}
.me-1 img{
    /* float: left;
    clear: inline-end; */
    border-radius: 50%
}
/* .me-1 p{
    padding-top: 70px;
    margin-left: 10px;
} */
.end{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.end a{
    padding: 3vw;
    font-size: x-large;
    color: black;
}
.end a:hover{
    color: blue;
    cursor: grab;
}
.projects{
    text-align: center;
    margin-top: 5vw;
}
.projects p {
    font-size: 20px;
}
.projects h2{
    font-size: 20px;
}